body {
     font-family: Arial, Helvetica, sans-serif;
     background-color: #e9eef3;
     margin-bottom: 20px;
}
/* .form{
     background-color: white;
     min-height: auto;
     border-radius: 10px;
     width: 97.3%;
     margin-top: 20px;
     margin-left: 20px;
}
.form .tp-title-pre{
     color: rgb(30, 41, 59);
     font-size: 20px;
     padding-top: 20px;
     margin-left: 20px;      
}
.form .tp-title{
     color: rgb(100, 116, 139);
     font-size: 16px;
     margin-left: 20px;      
}
.form form input[type=file]{
     width: 97%;
     padding-top: 17px;
     padding-left: 20px;
     margin-left: 20px;
     height: 60px;
     border: 2px solid #e1eaea;
}
.form form .submit1{
     width: 97%;
     margin-top: 20px;
     padding-left: 10px;
     margin-left: 20px;
     margin-bottom: 20px;
     height: 50px;
     border: none;
     outline: none;
     border-radius: 5px;
     background-color: rgb(30, 41, 59);
     color: white;
     font-size: 20px;
     font-weight: 600;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
}
.form form .submit1:hover{
     transition:  all 0.5s ease-in-out;
     border-radius: 5px;
     background-color: #5e00d9;
     border-color: #5800cc;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     -webkit-transition:  all 0.5s ease-in-out;
     -moz-transition:  all 0.5s ease-in-out;
     -ms-transition:  all 0.5s ease-in-out;
     -o-transition:  all 0.5s ease-in-out;
}
.form form input{
     margin-top: 20px;
} */

.logo{
     margin-top: 20px;
     margin-left: 95px;
     background-color: white;
     /* min-height: 400px; */
     width: 1350px;
     border-radius: 5px;
     box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
}
.uploaded_image{
     padding-top: 40px;
     width: 300px;
     padding-left: 50px;
}
.logo input[type=file]{
     color: #3c4858;
     width: 97.3%;
     height: 40px;
     padding-top: 5px;
     margin-top: 20px;
     padding-left: 10px;
     margin-left: 20px;
     font-size: 15px;
     border: 1px solid #e1eaea;
     border-radius: 2px;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     -ms-border-radius: 2px;
     -o-border-radius: 2px;
}
#logo:focus{
     border: 0.2px;
     outline:solid 1px black;
     border-radius: 2px;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     -ms-border-radius: 2px;
     -o-border-radius: 2px;
}
.submit{
     margin-top: 20px;
     margin-left: 20px;
     width: 150px;
     height: 43px;
     border: none;
     outline: none;
     margin-bottom: 10px;
     font-size: 14px;
     font-weight: 500;
     color: white;
     border-color: #030e22;
     background-color: #030e22;
     border-radius: 5px;
     cursor: pointer;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
}
.submit:hover{
     transition: all .5s ease-in-out;
     border-radius: 5px;
     background-color: #5e00d9;
     border-color: #5800cc;
     -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -ms-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
}
.cancel{
     width: 105px;
     height: 43px;
     border: none;
     outline: none;
     font-size: 14px;
     color: #313a46;
     border-color: #e3eaef;
     background-color: #e3eaef;
     border-radius: 2px;
     cursor: pointer;
}
.logo .tp-title-pre{
     color: rgb(30, 41, 59);
     font-size: 20px;
     padding-top: 20px;
     margin-left: 20px;      
}
.logo .tp-title{
     color: rgb(100, 116, 139);
     font-size: 16px;
     margin-left: 20px;      
}
.logo embed{
     margin-left: 20px;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}