/* breadcrumb */
.breadcrumb-section {
    background-color: black;
    background-image: url('../../assets/img/bg.webp');
    background-size: cover;
    background-position: center;
    height: 300px;
}
.breadcrumb-section h1{
    color: #F3B44B;
    padding-top: 200px;
    padding-left: 50px;
}
.breadcrumb{
    color: #F3B44B;
    position: relative;
    top: -40px;
    display: flex;
    font-size: 20px;
    padding-left: 1200px;
    list-style: none;
}
.breadcrumb_item a {
    display: inline-block;
    text-decoration: none;
    color: #F3B44B;
    position: relative;
    transition: color 0.7s ease;
}
.breadcrumb_item a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #88A9C3;
    transition: width 0.3s ease;
}
.breadcrumb_item a:hover::after {
    width: 100%; /* Expand the width to 100% on hover */
}
.breadcrumb_item a:hover {
    color: #88A9C3;
}

/* product section */
.product-section {
    margin-top: 100px;
    margin-left: 90px;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
}
.product-link{
    text-decoration: none;
    color: black;
    flex: 0 1 calc(33.33% - 60px);
    box-sizing: border-box;
}
.product-body{
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
    width: 350px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.3s;
}
.product-body:hover{
    box-shadow: 0 8px 16px 8px rgba(0,0,0,0.2);
    transform: scale(1.05);
}
.product-body:hover .tp-product-title{
    background-color: #122620;
    color: #F3B44B;
}
.tp-product-img{
    overflow: hidden;
    height: 300px;
    border-bottom: 1px solid #122620;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tp-product-img img{
    height: 300px;
    width: 350px;
}
.tp-product-title{
    height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding-left: 20px;
    padding-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}
.product-name{
    font-size: 18px;
}

/* Modal Button */
.open-modal-btn {
    display: block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #122620;
    color: #F3B44B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s;
    -ms-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
}
.open-modal-btn:hover {
    background-color: #F3B44B;
    color: #122620;
}
/* Modal Styling */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}
.modal-content:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-btn {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #F3B44B;
    color: #122620;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.modal-btn:hover {
    background-color: #122620;
    color: #F3B44B;
}

@media only screen and (max-width: 1024px){
    /* breadcrumb */
    .breadcrumb-section {
      background-color: #122620;
      background-image: url('../../assets/img/bg.webp');
      background-size: cover;
      background-position: center;
      height: 500px;
      width: 150%;
    }
    .breadcrumb-section h1{
      color: #F3B44B;
      padding-top: 350px;
      padding-left: 50px;
      font-weight: 600;
      font-size: 60px;
    }
    .breadcrumb{
      color: #F3B44B;
      position: relative;
      top: -40px;
      font-size: 35px;
      padding-left: 1200px;
    }
    .breadcrumb_item a {
      display: inline-block;
      text-decoration: none;
      color: #F3B44B;
      font-size: 35px;
      position: relative;
      transition: color 0.7s ease;
    }
    .breadcrumb_item a::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #88A9C3;
      transition: width 0.3s ease;
    }
    .breadcrumb_item a:hover::after {
      width: 100%; /* Expand the width to 100% on hover */
    }
    .breadcrumb_item a:hover {
      color: #88A9C3;
    }
}